@use 'sass:map';
@use 'functions';
@use 'variables';

@mixin pseudo-styles($content: '') {
  content: $content;
  display: block;
  position: absolute;

  @content;
}

@mixin prepare-focus($x: 0, $y: $x) {
  position: relative;

  &::before {
    @include pseudo-styles {
      pointer-events: none;
      opacity: 0;
      transition: opacity map.get(variables.$transitions, 'quickest');
      border: 1px solid currentcolor;
      border-radius: functions.create-unit-size(4);
      top: $y;
      right: $x;
      bottom: $y;
      left: $x;

      @content;
    }
  }

  &:focus-visible {
    &::before {
      opacity: .5;
    }
  }
}

// provide 'sm', 'md', 'lg'...
@mixin media($breakpoint) {
  @media (min-width: map.get(variables.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin generate-themes($theme) {
  @each $color-name, $shades in $theme {
    @each $shade-name, $shade-value in $shades {
      --#{$color-name}-#{$shade-name}: #{$shade-value};
    }
  }
}

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
