@use 'sass:map';
@use 'variables' as v;

@mixin pseudo-styles($content: '') {
  content: $content;
  display: block;
  position: absolute;

  @content;
}

@mixin prepare-focus($x: 0, $y: $x) {
  position: relative;

  &::before {
    @include pseudo-styles {
      pointer-events: none;
      opacity: 0;
      transition: opacity map.get(v.$transitions, 'quickest');
      border: 1px solid currentcolor;
      border-radius: 50%;
      top: $y;
      right: $x;
      bottom: $y;
      left: $x;

      @content;
    }
  }

  &:focus-visible {
    &::before {
      opacity: .5;
    }
  }
}

@mixin dark-mode {
  @if v.$dark-mode {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  }
}

@mixin media($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
