$font-size-body: 16px;
$font-primary: 'M PLUS Rounded 1c';
$font-primary-weights: (
  'light': 300,
  'normal': 400,
  'black': 900
);
$font-secondary: 'Roboto';
$font-secondary-weights: (
  'light': 300,
  'normal': 400,
  'black': 700
);
$transitions: (
  'slow': .75,
  'medium': .5,
  'quick': .3,
  'quickest': .2
);
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px,
  '3xl': 1920px,
);
$font-sizes: (
  'xs': .75rem,
  'sm': .875rem,
  'base': 1rem,
  'lg': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
  '6xl': 3.75rem,
  '7xl': 4.5rem,
  '8xl': 6rem,
  '9xl': 8rem,
);
