img {
  display: block;
  max-width: 100%;
  height: auto;
}

button::-moz-focus-inner,
button:focus,
a:focus,
a:active,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
select::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  outline: none !important;
}
